name: Scheduled Vercel Deployment

on:
  schedule:
    - cron: '1 0 * * *'
  workflow_dispatch: 

jobs:
  ping-vercel:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Deploy Hook
        run: |
          curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK }}"